[submodule "cobalt"]
	path = Android/cobalt
	url = https://github.com/cobaltians/Cobalt-Android.git
	branch = develop
[submodule "fontawesome-font"]
	path = Android/fontawesome-font
	url = https://github.com/Cobaltians-Fonts/Fonts-FontAwesome-Android.git
	branch = develop
[submodule "pubsub-plugin"]
	path = Android/pubsub-plugin
	url = https://github.com/Cobaltians-Plugins/Plugins-PubSub-Android.git
	branch = develop
[submodule "iOS/Cobalt Tutorial/Cobalt"]
	path = iOS/Cobalt Tutorial/Cobalt
	url = https://github.com/cobaltians/Cobalt-iOS.git
	branch = develop
[submodule "iOS/Cobalt Tutorial/PubSub-Plugin"]
	path = iOS/Cobalt Tutorial/PubSub-Plugin
	url = https://github.com/Cobaltians-Plugins/Plugins-PubSub-iOS.git
	branch = develop
[submodule "iOS/Cobalt Tutorial/FontAwesome-Font"]
	path = iOS/Cobalt Tutorial/FontAwesome-Font
	url = https://github.com/Cobaltians-Fonts/Fonts-FontAwesome-iOS.git
	branch = develop
[submodule "Android/app/src/main/assets/www/js/cobalt"]
	path = Android/app/src/main/assets/www/js/cobalt
	url = https://github.com/cobaltians/Cobalt-Web.git
	branch = develop
[submodule "Android/app/src/main/assets/www/js/pubsub-plugin"]
	path = Android/app/src/main/assets/www/js/pubsub-plugin
	url = https://github.com/Cobaltians-Plugins/Plugins-PubSub-Web.git
	branch = develop
